<html>
<head>
  <title>Event Attendees Data Report</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script>
  $(document).ready(function(){
    $("#attendees tr").click(function(){
      $(this).addClass("highlight").siblings().removeClass("highlight");
    });
  })
  </script>
  <style>
  th {
    color: red;
    text-align: left;
    font-size: 20px;
    font-family: Arial Black;
  }
  table {
    border: 2px solid black;
    border-collapse: collapse;
  }
  th, td {
    border-right: 2px solid black;
    padding: 5px;
  }
  .highlight {
    background-color: yellow;
  }
  </style>
</head>
<body>
  <img src ="http://morganslimak.com/event_reporter.png"></img>
  <table id="attendees">
  <tr>
    <th>Last Name</th>
    <th>First Name</th>
    <th>Email</th>
    <th>Zipcode</th>
    <th>City</th>
    <th>State</th>
    <th>Address</th>
    <th>Phone</th>
    <th>District</th>
  </tr>
    <% @results.each do |attendee| %>
      <tr>
        <td><%= attendee.last_name %></td>
        <td><%=  attendee.first_name %></td>
        <td><%=  attendee.email %></td>
        <td><%=  attendee.zipcode %></td>
        <td><%=  attendee.city %></td>
        <td><%=  attendee.state %></td>
        <td><%=  attendee.address %></td>
        <td><%=  attendee.phone %></td>
        <td><%=  attendee.district %></td>
      </tr>
    <% end %>
  </table>
  <br>
  <p>***Click on a data row to select/highlight it</p>
</body>
</html>
